.affine-table {
  width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
}

.affine-table-cell {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: inline-block;
  height: 100%;
}

.affine-table-row {
  display: flex;
  border-bottom: 1px solid #eee;
}

.affine-table-footer {
  display: flex;
  height: 40px;
}

.affine-table-row-group-header {
  height: 36px;
  line-height: 36px;
  padding: 0px 4px;
  border-bottom: 1px solid #eee;
}
.affine-table-row-group-footer {
  height: 32px;
  line-height: 32px;
  border-bottom: 6px solid #eee;
}
